/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body .header {
    height: 53px; }
    body .header .logo {
      height: 53px; }
      body .header .logo a {
        height: 53px; }
        body .header .logo a img {
          height: 53px; }
    body .header .pogas-logged .tab-group li a, body .header .pogas-profile .tab-group li a, body .header .pogas-sludinajums .tab-group li a, body .header .pogas .tab-group li a {
      padding: 15px;
      font-size: 20px; }
    body .header .profile-wrapper .profile {
      height: 53px;
      width: 40%;
      margin-left: 5%; }
      body .header .profile-wrapper .profile img {
        height: 53px; }
    body .header .profile-wrapper .log_out {
      height: 53px; }
      body .header .profile-wrapper .log_out a {
        height: 53px; }
        body .header .profile-wrapper .log_out a img {
          height: 53px; }
  body .sludinajumu-form, body .login-form {
    padding-top: 53px; }
    body .sludinajumu-form #meklet, body .login-form #meklet {
      top: 53px; }
    body .sludinajumu-form .tab-content #login, body .login-form .tab-content #login {
      top: 53px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body .content {
    max-width: 720px; }
  body .login-form .tab-content #login {
    padding: 22px; }
    body .login-form .tab-content #login .credentials-wrapper .button-block {
      font-size: 12px; }
  body .login-form .tab-content #signup {
    max-width: 550px; }
  body .sludinajumu-form #pasazieris, body .sludinajumu-form #brauciens {
    max-width: 550px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body .content {
    max-width: 600px; }
  body .form {
    margin: 180px auto;
    max-width: 500px; }
  body .login-form .tab-content #login {
    padding: 18px; }
    body .login-form .tab-content #login .credentials-wrapper .forgot {
      width: 9%;
      margin-top: -10px; }
    body .login-form .tab-content #login .credentials-wrapper .field-wrap .icon {
      height: 34px; }
      body .login-form .tab-content #login .credentials-wrapper .field-wrap .icon img {
        width: 32px;
        height: 34px; }
    body .login-form .tab-content #login .credentials-wrapper .button-block {
      font-size: 10px;
      height: 34px; }
  body .login-form .tab-content #signup {
    max-width: 500px;
    margin: 180px auto; }
  body .profile-form {
    max-width: 500px; }
  body .sludinajumu-form #pasazieris, body .sludinajumu-form #brauciens {
    max-width: 500px;
    margin: 180px auto; }
  body .sludinajumu-form #meklet {
    padding: 27px; }
    body .sludinajumu-form #meklet .credentials-wrapper .button-block {
      font-size: 12px;
      height: 34px;
      width: 19%; }
  body .sludinajuma-infoo {
    max-width: 500px;
    margin: 180px auto; }
    body .sludinajuma-infoo .brauciena-info .name {
      font-size: 27px; }
    body .sludinajuma-infoo .brauciena-info .marsruts-info, body .sludinajuma-infoo .brauciena-info .datums-info, body .sludinajuma-infoo .brauciena-info .numurs-info {
      font-size: 20pt; }
    body .sludinajuma-infoo .brauciena-info .description-info {
      font-size: 15pt; }
  body input, body textarea {
    font-size: 14px;
    height: 34px; }
  body label {
    font-size: 19px; }
  body .button-block {
    font-size: 1.3rem; }
  body button {
    font-size: 1.3rem; } }
/* Extra Small Devices, Phones */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

body {
  background: url(../img/backgroundd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif; }

.tt-hint,
.tt-dropdown-menu {
  width: 250px;
  margin-top: 5px;
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  color: #111111;
  background-color: #F1F1F1; }
  .tt-hint .tt-dataset-city .tt-suggestions .tt-suggestion p,
  .tt-dropdown-menu .tt-dataset-city .tt-suggestions .tt-suggestion p {
    color: black;
    margin: 0px 0px 20px 0px; }

.form {
  background: rgba(16, 29, 52, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }

a {
  text-decoration: none;
  color: #41aff4;
  -webkit-transition: .5s ease;
  transition: .5s ease; }

a:hover {
  color: #4277f4; }

.profile-form {
  background: rgba(16, 29, 52, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .profile-form .profile-picture {
    position: relative;
    width: 100%;
    height: 180px; }
    .profile-form .profile-picture #formaa {
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      opacity: 0; }
    .profile-form .profile-picture #filee {
      width: 150px;
      height: 150px;
      cursor: pointer;
      font-size: 3px;
      border-radius: 50%; }
    .profile-form .profile-picture #submitt {
      display: none; }
    .profile-form .profile-picture .profile-cover {
      position: absolute;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .profile-form .profile-picture .profile-cover img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%; }

.header {
  width: 100%;
  height: 53px;
  position: fixed;
  opacity: 0.9;
  top: 0;
  z-index: 10; }
  .header .logo {
    width: 10%;
    float: left;
    height: 53px;
    background: rgba(16, 29, 52, 0.8);
    text-align: center;
    position: relative; }
    .header .logo a {
      height: 53px;
      width: auto;
      display: block;
      position: relative; }
      .header .logo a img {
        height: 53px; }
  .header .pogas {
    width: 90%;
    height: 100%;
    float: right; }
    .header .pogas .tab-group {
      margin: 0; }
  .header .pogas-profile {
    width: 80%;
    height: 100%;
    float: left;
    position: relative; }
    .header .pogas-profile .tab-group {
      margin: 0; }
      .header .pogas-profile .tab-group li a {
        width: 50%; }
  .header .pogas-sludinajums {
    width: 80%;
    height: 100%;
    float: left;
    position: relative; }
    .header .pogas-sludinajums .tab-group {
      margin: 0; }
      .header .pogas-sludinajums .tab-group li a {
        width: 100%; }
  .header .pogas-logged {
    width: 80%;
    height: 100%;
    float: left;
    position: relative; }
    .header .pogas-logged .tab-group {
      margin: 0; }
      .header .pogas-logged .tab-group li a {
        max-width: 33.33%;
        /* as @passatgt mentioned in the comment, for the older browsers fallback */
        width: 33.33%;
        width: calc(100% / 3);
        width: -webkit-calc 33.33333%;
        width: -moz-calc 33.33333%; }
  .header .profile-wrapper {
    display: block;
    width: 10%;
    float: right;
    background: rgba(16, 29, 52, 0.8); }
    .header .profile-wrapper .profile {
      width: 50%;
      height: 53px;
      display: block;
      float: left;
      position: relative; }
      .header .profile-wrapper .profile img {
        width: 100%;
        height: 53px;
        ackground-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        border-radius: 50%; }
    .header .profile-wrapper .log_out {
      width: 50%;
      float: right;
      height: 53px;
      text-align: center;
      position: relative; }
      .header .profile-wrapper .log_out a {
        height: 53px;
        width: auto;
        display: block;
        position: relative; }
        .header .profile-wrapper .log_out a img {
          height: 53px; }

.sludinajumu-form {
  padding-top: 53px; }
  .sludinajumu-form label .req {
    margin: 2px;
    color: #41aff4; }
  .sludinajumu-form #meklet {
    position: fixed;
    top: 53px;
    background: rgba(16, 29, 52, 0.9);
    padding: 40px;
    z-index: 5;
    width: 100%;
    margin: 0 auto 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
    .sludinajumu-form #meklet .credentials-wrapper {
      display: block;
      width: 100%;
      height: 60px; }
      .sludinajumu-form #meklet .credentials-wrapper .search-ico {
        width: 10%;
        float: left;
        display: block;
        height: 53px;
        text-align: right;
        padding-top: 5px; }
        .sludinajumu-form #meklet .credentials-wrapper .search-ico img {
          width: auto;
          height: 53px; }
      .sludinajumu-form #meklet .credentials-wrapper .field-wrap {
        position: relative;
        margin: 10px;
        width: 30%;
        float: left; }
      .sludinajumu-form #meklet .credentials-wrapper .button-block {
        display: block;
        width: 20%;
        height: 40px;
        float: left;
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 1rem;
        font-weight: 600;
        margin: 10px;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: #41aff4;
        color: #ffffff;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-appearance: none; }
  .sludinajumu-form #pasazieris {
    top: 53px;
    background: rgba(16, 29, 52, 0.7);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .sludinajumu-form #brauciens {
    background: rgba(16, 29, 52, 0.7);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }

.login-form {
  padding-top: 53px; }
  .login-form label .req {
    margin: 2px;
    color: #41aff4; }
  .login-form label.active {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    left: 2px;
    font-size: 15px; }
  .login-form label.active .req {
    opacity: 1; }
  .login-form .tab-content #login {
    position: fixed;
    top: 53px;
    background: rgba(16, 29, 52, 0.9);
    padding: 40px;
    width: 100%;
    z-index: 5;
    margin: 0 auto 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
    .login-form .tab-content #login .credentials-wrapper {
      display: block;
      width: 100%;
      height: 60px; }
      .login-form .tab-content #login .credentials-wrapper .field-wrap {
        position: relative;
        margin: 10px;
        width: 30%;
        float: left; }
        .login-form .tab-content #login .credentials-wrapper .field-wrap .icon {
          width: 15%;
          height: 41px;
          float: left;
          display: block;
          position: relative; }
        .login-form .tab-content #login .credentials-wrapper .field-wrap label {
          margin-left: 15%; }
        .login-form .tab-content #login .credentials-wrapper .field-wrap input {
          width: 85%;
          float: right; }
      .login-form .tab-content #login .credentials-wrapper .forgot {
        margin-top: -20px;
        text-align: right;
        width: 10%;
        float: right; }
      .login-form .tab-content #login .credentials-wrapper .button-block {
        display: block;
        width: 20%;
        height: 40px;
        float: left;
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 1rem;
        font-weight: 600;
        margin: 10px;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: #41aff4;
        color: #ffffff;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-appearance: none; }
      .login-form .tab-content #login .credentials-wrapper .button:hover, .login-form .tab-content #login .credentials-wrapper .button:focus {
        background: #4277f4; }
  .login-form .tab-content #signup {
    background: rgba(16, 29, 52, 0.7);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    /*       .credentials-wrapper {
            .field-wrap {
              .icon {
                width: 15%;
                height: 41px;
                float: left;
                display: block;
                position: relative;
              }
              label {
                margin-left: 45px;
              }
              input {
                width: 85%;
              }
            }
          } */ }

#mani-sludinajumi {
  margin: 100px auto; }

#sludinajumi .sludinajuma-info, #mani-sludinajumi .sludinajuma-info, .tab-content .sludinajuma-info {
  width: 100%;
  height: 180px;
  padding: 15px 0 10px 0;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0 -6px 5px 11px rgba(19, 35, 47, 0.7); }
  #sludinajumi .sludinajuma-info .profile-info, #mani-sludinajumi .sludinajuma-info .profile-info, .tab-content .sludinajuma-info .profile-info {
    width: 20%;
    float: left; }
    #sludinajumi .sludinajuma-info .profile-info img, #mani-sludinajumi .sludinajuma-info .profile-info img, .tab-content .sludinajuma-info .profile-info img {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    #sludinajumi .sludinajuma-info .profile-info .name, #sludinajumi .sludinajuma-info .profile-info .number, #mani-sludinajumi .sludinajuma-info .profile-info .name, #mani-sludinajumi .sludinajuma-info .profile-info .number, .tab-content .sludinajuma-info .profile-info .name, .tab-content .sludinajuma-info .profile-info .number {
      text-align: center; }
      #sludinajumi .sludinajuma-info .profile-info .name p, #sludinajumi .sludinajuma-info .profile-info .number p, #mani-sludinajumi .sludinajuma-info .profile-info .name p, #mani-sludinajumi .sludinajuma-info .profile-info .number p, .tab-content .sludinajuma-info .profile-info .name p, .tab-content .sludinajuma-info .profile-info .number p {
        margin: 0px; }
  #sludinajumi .sludinajuma-info .brauciena-info, #mani-sludinajumi .sludinajuma-info .brauciena-info, .tab-content .sludinajuma-info .brauciena-info {
    width: 80%;
    height: 130px;
    padding-top: 10px;
    float: right;
    position: relative;
    display: block; }
    #sludinajumi .sludinajuma-info .brauciena-info .marsruts-info, #mani-sludinajumi .sludinajuma-info .brauciena-info .marsruts-info, .tab-content .sludinajuma-info .brauciena-info .marsruts-info {
      text-transform: uppercase;
      text-align: left;
      font-size: 15pt;
      width: 50%;
      height: 30px;
      float: left; }
    #sludinajumi .sludinajuma-info .brauciena-info .datums-info, #mani-sludinajumi .sludinajuma-info .brauciena-info .datums-info, .tab-content .sludinajuma-info .brauciena-info .datums-info {
      width: 50%;
      height: 30px;
      top: 0;
      float: left;
      text-align: right; }
    #sludinajumi .sludinajuma-info .brauciena-info .cena-info, #mani-sludinajumi .sludinajuma-info .brauciena-info .cena-info, .tab-content .sludinajuma-info .brauciena-info .cena-info {
      text-align: left;
      font-size: 14pt;
      width: 50%;
      height: 30px;
      float: left; }
    #sludinajumi .sludinajuma-info .brauciena-info .skaits-info, #mani-sludinajumi .sludinajuma-info .brauciena-info .skaits-info, .tab-content .sludinajuma-info .brauciena-info .skaits-info {
      width: 30%;
      height: 30px;
      display: block;
      float: right;
      text-align: right;
      padding-top: 15px;
      font-size: 18pt; }
    #sludinajumi .sludinajuma-info .brauciena-info .description-info, #mani-sludinajumi .sludinajuma-info .brauciena-info .description-info, .tab-content .sludinajuma-info .brauciena-info .description-info {
      display: block;
      width: 85%;
      height: 55px;
      margin-top: 10px;
      position: relative;
      float: left;
      text-align: left;
      overflow: hidden; }
      #sludinajumi .sludinajuma-info .brauciena-info .description-info p, #mani-sludinajumi .sludinajuma-info .brauciena-info .description-info p, .tab-content .sludinajuma-info .brauciena-info .description-info p {
        text-align: left;
        margin: 0;
        padding-left: 2%;
        padding-right: 2%; }
    #sludinajumi .sludinajuma-info .brauciena-info .veids-ico, #mani-sludinajumi .sludinajuma-info .brauciena-info .veids-ico, .tab-content .sludinajuma-info .brauciena-info .veids-ico {
      width: 15%;
      height: 75px;
      float: right;
      margin-top: 10px; }

.sludinajuma-infoo {
  background: rgba(16, 29, 52, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .sludinajuma-infoo .profile-info {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%; }
    .sludinajuma-infoo .profile-info img {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .sludinajuma-infoo .brauciena-info {
    width: 100%;
    height: auto;
    min-height: 200px; }
    .sludinajuma-infoo .brauciena-info .name {
      position: relative;
      height: 30px;
      width: 100%;
      margin-top: 10px; }
    .sludinajuma-infoo .brauciena-info .numurs-info {
      width: 100%;
      height: 30px; }
    .sludinajuma-infoo .brauciena-info .marsruts-info {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 18pt; }
    .sludinajuma-infoo .brauciena-info .datums-info {
      width: 100%;
      height: 30px; }
    .sludinajuma-infoo .brauciena-info .cena-info {
      width: 50%;
      height: 30px;
      float: left;
      font-size: 17pt;
      margin-top: 20px; }
    .sludinajuma-infoo .brauciena-info .skaits-info {
      width: 30%;
      height: 30px;
      float: right;
      font-size: 40pt; }
    .sludinajuma-infoo .brauciena-info .description-info {
      width: 90%;
      height: 130px;
      float: left;
      overflow: hidden;
      margin-top: 40px; }
      .sludinajuma-infoo .brauciena-info .description-info p {
        text-align: left; }
    .sludinajuma-infoo .brauciena-info .veids-ico {
      width: 10%;
      float: right; }
      .sludinajuma-infoo .brauciena-info .veids-ico img {
        float: right; }

.content {
  margin: 180px auto;
  background: rgba(16, 29, 52, 0.7);
  padding: 40px 20px;
  max-width: 900px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .content .profile-cover {
    width: 100%; }

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0; }

.tab-group:after {
  content: "";
  display: table;
  clear: both; }

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #525c7a;
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease; }

.tab-group li a:hover {
  background: #4277f4;
  color: #ffffff; }

.tab-group .active a {
  background: #41aff4;
  color: #ffffff; }

.sludinajumu-form .tab-content > div:nth-child(3) {
  display: block; }
.sludinajumu-form .tab-content > div:nth-child(2) {
  display: block; }
.sludinajumu-form .tab-content > div {
  display: none; }

.tab-content > div:first-child {
  display: block; }

.tab-content > div:last-child {
  display: none; }

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px; }

h2 {
  text-align: center;
  color: #41aff4;
  font-weight: 1000;
  margin: 0; }

h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 600; }

span {
  color: #41aff4;
  font-weight: bold; }

p {
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 50px 0px; }

div.info {
  color: pink;
  display: box;
  text-align: center;
  padding: 5px;
  margin-top: -20px;
  margin-bottom: 15px;
  border: 1px solid red;
  background: #66131c; }

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px; }

label .req {
  margin: 2px;
  color: #41aff4; }

label.active {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  left: 2px;
  font-size: 15px; }

label.active .req {
  opacity: 1; }

label.highlight {
  color: #ffffff; }

  /* ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
      color: transparent;
  } 

  input::-webkit-datetime-edit{ color: transparent; }
  input:focus::-webkit-datetime-edit{ color: #000; } */
input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease; }

input:focus, textarea:focus {
  outline: 0;
  border-color: #41aff4; }

output {
  color: #ffffff;
  font-size: 18pt; }

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical; }

#description {
  height: auto; }

.field-wrap {
  position: relative;
  margin-bottom: 40px; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }

.top-row > div:last-child {
  margin: 0; }

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #41aff4;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none; }

.button:hover, .button:focus {
  background: #4277f4;
  cursor: pointer; }

.button-block {
  display: block;
  width: 100%;
  margin: 10px 0 10px 0; }

.forgot {
  margin-top: -20px;
  text-align: right; }

/*# sourceMappingURL=style.css.map */
