$primary-color: #41aff4;
$hover-color: #4277f4;
$background-color: #525c7a;

/* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      body {
      .header {
        height: 53px;
        .logo {
          height: 53px;
          a{
            height: 53px;
            img {
              height: 53px;
            }
          }
        }
        .pogas-logged, .pogas-profile, .pogas-sludinajums, .pogas {
          .tab-group li a {
            padding: 15px;
            font-size: 20px;
          }
        }
        .profile-wrapper {
          .profile {
            height: 53px;
            width: 40%;
            margin-left: 5%;
            img {
              height: 53px;
            }
          }
          .log_out {
            height: 53px;
            a {
              height: 53px;
              img {
                height: 53px;
              }
            }
          }
        }
      }
      .sludinajumu-form, .login-form {
        padding-top: 53px;
        #meklet {
          top: 53px;
        }
        .tab-content {
          #login {
            top: 53px;
          }
        }
      }
    }
  }

/* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      body {
        .content {
          max-width: 720px;
        }

        .login-form .tab-content {
          #login {
            padding: 22px;
            .credentials-wrapper {
              .button-block {
                font-size: 12px;
              }
            }
          }
          #signup {
            max-width: 550px;
          }
        }

        .sludinajumu-form {
          #pasazieris, #brauciens {
            max-width: 550px;
          }
        }
      }
    }

/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      body {
        .content {
          max-width: 600px;
        }

        .form {
          margin: 180px auto;
          max-width: 500px;
        }

        .login-form .tab-content {
          #login {
            padding: 18px;
            .credentials-wrapper {
              .forgot {
                width: 9%;
                margin-top: -10px;
              }
              .field-wrap {
                .icon {
                  height: 34px;
                  img {
                    width: 32px;
                    height: 34px;
                  }
                }
              }
              .button-block {
                font-size: 10px;
                height: 34px;
              }
            }
          }
          #signup {
            max-width: 500px;
            margin: 180px auto;
          }
        }

        .profile-form {
          max-width: 500px;
        }

        .sludinajumu-form {
          #pasazieris, #brauciens {
            max-width: 500px;
            margin: 180px auto;
          }
          #meklet {
            padding: 27px;
            .credentials-wrapper {
              .button-block {
                font-size: 12px;
                height: 34px;
                width: 19%;
              }
            }
          }
        }

        .sludinajuma-infoo {
          max-width: 500px;
          margin: 180px auto;
          .brauciena-info {
            .name {
              font-size: 27px;
            }
            .marsruts-info, .datums-info, .numurs-info {
              font-size: 20pt;
            }
            .description-info {
              font-size: 15pt;
            }
          }
        }

        input, textarea {
          font-size: 14px;
          height: 34px;
        }
        label {
          font-size: 19px;
        }

        .button-block {
          font-size: 1.3rem;
        }
        button {
          font-size: 1.3rem;
        }

      }
    }

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: url(../img/backgroundd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.tt-hint,
/*         .city {
            border: 2px solid #CCCCCC;
            border-radius: 8px 8px 8px 8px;
            font-size: 24px;
            height: 45px;
            line-height: 30px;
            outline: medium none;
            padding: 8px 12px;
            width: 250px;
        }
 */
        .tt-dropdown-menu {
            width: 250px;
            margin-top: 5px;
            padding: 4px 6px;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            //border-radius: 8px 8px 8px 8px;
            font-size: 18px;
            color: #111111;
            background-color: #F1F1F1;
            .tt-dataset-city {
              .tt-suggestions {
                .tt-suggestion{
                  p {
                    color: black;
                    margin: 0px 0px 20px 0px;
                  }
                }
              }
            }
        }

.form {
  background: rgba(16, 29, 52, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

a {
  text-decoration: none;
  color: $primary-color;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: $hover-color;
}
.profile-form {
  background: rgba(16, 29, 52, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  .profile-picture {
    position: relative;
    width: 100%;
    height: 180px;
    #formaa{
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      opacity: 0;
    }
    #filee {
      width: 150px;
      height: 150px;
      cursor: pointer;
      font-size: 3px;
      border-radius: 50%
    }
    #submitt {
      display: none;
    }
    .profile-cover {
      position: absolute;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      img{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.header {
  width: 100%;
  height: 53px;
  position: fixed;
  opacity: 0.9;
  top: 0;
  z-index: 10;

  .logo {
    width: 10%;
    float: left;
    height: 53px;
    background: rgba(16, 29, 52, 0.8);
    //box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    text-align: center;
    position: relative;
    a {
      height: 53px;
      width: auto;
      display: block;
      position: relative;
      img {
        height: 53px;
      }
    }
  }

  .pogas {
    width: 90%;
    height: 100%;
    float: right;
    .tab-group {
      margin: 0;
    }
  }
  .pogas-profile{
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    .tab-group {
      margin: 0;
      li a {
        width: 50%;
      }
    }
  }

  .pogas-sludinajums {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    .tab-group {
      margin: 0;
      li a {
        width: 100%;
      }
    }
  }

  .pogas-logged {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    .tab-group {
      margin: 0;
      li a {
        max-width: 33.33%; /* as @passatgt mentioned in the comment, for the older browsers fallback */
        width: 33.33%;
        width: calc(100% / 3);
        width: -webkit-calc (100% / 3);
        width: -moz-calc (100% / 3);
      } 
    }
  }

  .profile-wrapper {
      display: block;
      width: 10%;
      float: right;
      background: rgba(16, 29, 52, 0.8);
      //box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    .profile {
      width: 50%;
      height: 53px;
      display: block;
      float: left;
      position: relative;
      img {
        width: 100%;
        height: 53px;
        ackground-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
      }
    }
    .log_out {
      width: 50%;
      float: right;
      height: 53px;
      text-align: center;
      position: relative;
      a {
        height: 53px;
        width: auto;
        display: block;
        position: relative;
        img {
          height: 53px;


        }
      }
    }
  }

}


.sludinajumu-form {
  padding-top: 53px;
  label .req {
    margin: 2px;
    color: $primary-color;
  }

    #meklet {
      position: fixed;
      top: 53px;
      background: rgba(16, 29, 52, 0.9);
      padding: 40px;
      z-index: 5;
      width: 100%;
      margin: 0 auto 40px auto;
      border-radius: 4px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
      .credentials-wrapper {
        display: block;
        width: 100%;
        height: 60px;
        .search-ico {
          width: 10%;
          float: left;
          display: block;
          height: 53px;
          text-align: right;
          padding-top: 5px;
          img {
            width: auto;
            height: 53px;
          }
        }
        .field-wrap {
          position: relative;
          margin: 10px;
          width: 30%;
          float: left;
        }
        .button-block {
          display: block;
          width: 20%;
          height: 40px;
          float: left;
          border: 0;
          outline: none;
          border-radius: 0;
          padding: 15px 0;
          font-size: 1rem;
          font-weight: 600;
          margin: 10px;
          text-transform: uppercase;
          letter-spacing: .1em;
          background: #41aff4;
          color: #ffffff;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-appearance: none;
        }
      }
    }

  #pasazieris {
      top: 53px;
      background: rgba(16, 29, 52, 0.7);
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 4px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
    #brauciens {
      background: rgba(16, 29, 52, 0.7);
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 4px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    }
}

.login-form {
padding-top: 53px;
label .req {
  margin: 2px;
  color: $primary-color;
}

label.active {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  left: 2px;
  font-size: 15px;
}
label.active .req {
  opacity: 1;
}
  .tab-content {

    #login {
    position: fixed;
    top: 53px;
    background: rgba(16, 29, 52, 0.9);
    padding: 40px;
    width: 100%;
    z-index: 5;
    margin: 0 auto 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    .credentials-wrapper {
        display: block;
        width: 100%;
        height: 60px;
        .field-wrap {
          position: relative;
          margin: 10px;
          width: 30%;
          float: left;
          .icon {
            width: 15%;
            height: 41px;
            float: left;
            display: block;
            position: relative;
          }
          label {
            margin-left: 15%;
          }
          input {
            width: 85%;
            float: right;
          }
        }
        .forgot {
            margin-top: -20px;
            text-align: right;
            width: 10%;
            float: right;
        }
        .button-block {
            display: block;
            width: 20%;
            height: 40px;
            float: left;
            border: 0;
            outline: none;
            border-radius: 0;
            padding: 15px 0;
            font-size: 1rem;
            font-weight: 600;
            margin: 10px;
            text-transform: uppercase;
            letter-spacing: .1em;
            background: $primary-color;
            color: #ffffff;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-appearance: none;
        }
        .button:hover, .button:focus {
            background: $hover-color;
        }
      }
    }
    #signup {
      background: rgba(16, 29, 52, 0.7);
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 4px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
/*       .credentials-wrapper {
        .field-wrap {
          .icon {
            width: 15%;
            height: 41px;
            float: left;
            display: block;
            position: relative;
          }
          label {
            margin-left: 45px;
          }
          input {
            width: 85%;
          }
        }
      } */
    }
  }
}

#mani-sludinajumi {
  margin: 100px auto;
}

#sludinajumi, #mani-sludinajumi, .tab-content {
      .sludinajuma-info {
        width: 100%;
        height: 180px;
        padding: 15px 0 10px 0;
        margin-bottom: 30px;
        margin-top: 20px;
        box-shadow: 0 -6px 5px 11px rgba(19, 35, 47, 0.7);
      .profile-info {
        width: 20%;
        float: left;
        img {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          object-fit: cover;
          overflow: hidden;
          margin: 0 auto;
          display: block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .name, .number {
          text-align: center;
          p{
            margin: 0px;
          }
        }
      }
      .brauciena-info {
        width: 80%;
        height: 130px;
        padding-top: 10px;
        float: right;
        position: relative;
        display: block;
        .marsruts-info {
          text-transform: uppercase;
          text-align: left;
          font-size: 15pt;
          width: 50%;
          height: 30px;
          float: left;
        }
        .datums-info {
          width: 50%;
          height: 30px;
          top: 0;
          float: left;
          text-align: right;
        }
        .cena-info {
          text-align: left;
          font-size: 14pt;
          width: 50%;
          height: 30px;
          float: left;
        }
        .skaits-info {
          width: 30%;
          height: 30px;
          display: block;
          float: right;
          text-align: right;
          padding-top: 15px;
          font-size: 18pt;
        }
        .description-info {
          display: block;
          width: 85%;
          height: 55px;
          margin-top: 10px;
          position: relative;
          float: left;
          text-align: left;
          overflow: hidden;
          p {
            text-align: left;
            margin: 0;
            padding-left: 2%;
            padding-right: 2%;
          }
        }
        .veids-ico {
          width: 15%;
          height: 75px;
          float: right;
          margin-top: 10px;
        }
      }
    }
}

.sludinajuma-infoo {
  background: rgba(16, 29, 52, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  .profile-info {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    img {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .brauciena-info {
    width: 100%;
    height: auto;
    min-height: 200px;
    .name {
      position: relative;
      height: 30px;
      width: 100%;
      margin-top: 10px;
    }
    .numurs-info {
      width: 100%;
      height: 30px;
    }
    .marsruts-info {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 18pt;
    }
    .datums-info {
      width: 100%;
      height: 30px;
    }
    .cena-info {
      width: 50%;
      height: 30px;
      float: left;
      font-size: 17pt;
      margin-top: 20px;
    }
    .skaits-info {
      width: 30%;
      height: 30px;
      float: right;
      font-size: 40pt;
    }
    .description-info {
      width: 90%;
      height: 130px;
      float: left;
      overflow: hidden;
      margin-top: 40px;
      p {
        text-align: left;
      }
    }
    .veids-ico {
      width: 10%;
      float: right;
      img {
        float: right;
      }
    }
  }
}


.content {
  margin: 180px auto;
  background: rgba(16, 29, 52, 0.7);
  padding: 40px 20px;
  max-width: 900px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  .profile-cover {
    width: 100%;
  }
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: $background-color;
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: $hover-color;
  color: #ffffff;
}
.tab-group .active a {
  background: $primary-color;
  color: #ffffff;
}

.sludinajumu-form {
  .tab-content > div:nth-child(3) {
  display: block;
  }

  .tab-content > div:nth-child(2) {
  display: block;
  }
  .tab-content > div {
  display: none;
  }
}

.tab-content > div:first-child {
  display: block;
}

  .tab-content > div:last-child {
  display: none;
  }

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
    text-align: center;
    color: $primary-color;
    font-weight: 1000;
    margin: 0;
}

h3{
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

span {
    color: $primary-color;
    font-weight: bold;
}

p {
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: $primary-color;
}

label.active {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  left: 2px;
  font-size: 15px;
}
label.active .req {
  opacity: 1;
}

label.highlight {
  color: #ffffff;
}

  /* ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
      color: transparent;
  } 

  input::-webkit-datetime-edit{ color: transparent; }
  input:focus::-webkit-datetime-edit{ color: #000; } */

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: $primary-color;
}

output {
  color: #ffffff;
  font-size: 18pt;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

#description {
  height: auto;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: $primary-color;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: $hover-color;
  cursor: pointer;
}

.button-block {
  display: block;
  width: 100%;
  margin: 10px 0 10px 0;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
